<div class="content-statistiche">
  <div class="w-50">
    <div class="title-nome">{{name}}</div>
    <div class="stat-img">
      <img class="foto" src={{foto}}>
    </div>
    <div class="title-nome">{{valutazione}} mil</div>
  </div>
  <div class="w-50">
    <div class="title-nome">Statistiche</div>
    <div class="w-100">
      <div class="meta">Velocità: {{velocita}}</div>
      <div class="meta">Dribbling: {{dribbling}}</div>
      <div class="meta">Tiro: {{tiro}}</div>
      <div class="meta">Difesa: {{difesa}}</div>
      <div class="meta">Passaggio: {{passaggio}}</div>
      <div class="meta">Fisico: {{fisico}}</div>
    </div>
  </div>
</div>
